extends layout

block content
    h1=title
      p This is a list of all our available products!


    h2 Product Info
	#productList
		table
			thread
				th ProductName
				th Description
				th Delete?
			tbody
		// /User List
	// /Wrapper

    
//    ul
//        each product, i in productlist
 //           li
  //              a(href="mailto:#{product.title}")= product.title