extends layout

block content
    h1.
        Product Search of an weirdasf trip ecommerce site.
    button(class="btn", data-action="bea").
        Be Awesome
    button.btn(data-action="bea") So Awesome
    button.btn(data-action="bea") BUY BUY BUY
    p SEARCH WILL GO HERE DAMMIT